#home-showcase {
	height: 100vh;

	.container-fluid {

		&, > .row, .row > div { height: 100% }

		.row > div { flex: 1 }
	
		.home-showcase-text {
			padding: 5rem;
			position: relative;

			> div:first-child { margin-bottom: 5rem }

			.showcase-cartoon {
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 55%;
				transform: translateX(-50%);
			}
		}

		.home-showcase-image {
			position: relative;
    	z-index: -1;
		}

		.property-search-form { width: 170% }
	}
}