footer {
	background: $green-dark;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	
	.col {

		a {
			color: $green-light-2;
			font-size: 1.1rem;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
				color: $green-light-2;
			}
		}

		.footer-social {

			a {
				transition: color 300ms ease-in-out;

				i { font-size: 2.5rem }

				&:hover { color: $dark-1 }
			}
		}

		.footer-image { width: 75% }
	}
}