
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .property-search-form form {
		padding: 2rem 1rem !important;
		text-align: left;

		> div:last-child {
			flex-direction: column;

			.col { margin: 1rem 0 }
		}
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .property-search-form form {
		padding: 2rem 1rem !important;
		text-align: left;

		> div:last-child {
			flex-direction: column;

			.col { margin: 1rem 0 }
		}
	}

	.section-header {

		h4 { font-size: 1.3rem }
		hr { width: 25% }
	}
	
	footer {

		.footer-sitemap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;

			a { margin: 1rem 0 }
		}
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

	.property-search-form form {
		padding: 2rem 1rem !important;
		text-align: left;

		> div:last-child {
			flex-direction: column;

			.col { margin: 1rem 0 }
		}
	}
  
  .section-header hr { width: 10% }
	
	footer {

		.footer-sitemap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;

			a { margin: 1rem 0 }
		}
	}
  
}