#intro-loader {
	top: 0;
	left: 0;
	z-index: 999;
	background: #f3f3f3;
	transition: opacity 350ms ease-in-out;

	&.hidden { opacity: 0 }
	
	video {
		width: 20%;
		height: 35%;
		margin-left: 2rem;
	}
}