.property-search-form form {
	border: 3px solid $dark-1;
	background: #fff;
	@include user-select;

	.form-header {
		top: -43px;
		left: 40px;
		background: #fff;

		a {
			padding: .5rem 1rem;
			cursor: pointer;
			position: relative;

			&.active-form {
				background: $dark-1;
				color: $white;
			}
		}
	}

	button[type='submit'] {
		background: $green-dark;

		&:focus { background: $green-dark }
		
		&:hover, &:active { background-color: darken($green-dark, 10%) !important }
	 }
}