#testimonial .container-fluid .testimonial-box {
	border: 2px solid $green-light-1;
	width: 32.5%;

	.testimonial-box-profile img {
		border-radius: 50%;
		width: 70px;
		height: 70px;
		pointer-events: none;
	}
}