#property-page #left-side #images-slider-small {

	.image-small {
		width: 100%;
		cursor: pointer;
		border: 2px solid transparent;
		padding: .1rem;
		transition: all 100ms ease-in-out;
		@include user-select;
		
		&:last-child { margin: 0 !important }

		&.selected { border-color: $green-dark }

		&:not(.selected):hover img { opacity: 0.8 }
	}
	
	.image-showcase {
		height: 100%;
		width: 100%;
		cursor: pointer;

		.review-image {
			transition: transform 2s ease-in-out;
			height: 100%;
			width: 100%;

			&:hover { opacity: 0.9 }
		}

		> p {
			bottom: 0;
			right: 10px;
			background: rgba($dark-1, .7);
			color: $white;
		}

		> div:not(.review-image) {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(#000, 0.7);
			color: $white;
			font-size: 1.3rem;
			opacity: 0;
			transition: opacity 300ms ease-in-out;
		}

		&:hover > div:not(.review-image) { opacity: 1 }
	}
}