#property-page #left-side #images-slider-small {

	.image-small {
		width: 100%;
		cursor: pointer;
		border: 2px solid transparent;
		padding: .1rem;
		transition: all 100ms ease-in-out;
		@include user-select;
		
		&:last-child { margin: 0 !important }

		&.selected { border-color: $green-dark }

		&:not(.selected):hover img { opacity: 0.8 }
	}
	
	.image-showcase {
		height: 100%;
		width: 100%;
		cursor: pointer;

		.review-image {
			transition: transform 2s ease-in-out;

			&:hover { opacity: 0.9 }
		}

		p {
			bottom: 0;
			right: 10px;
			background: rgba($dark-1, .7);
			color: $white;
		}
	}
}