#property-page #left-side {

	#images-slider-small {

		.image-small {
			width: 100%;
			cursor: pointer;
			
			&:last-child { margin: 0 !important }

			&.selected {
				border: 2px solid $green-dark;
				padding: .1rem;
			}
		}

		.image-big {
			height: 100%;
			width: 100%;
			cursor: pointer;

			p {
				bottom: 0;
				right: 10px;
				background: rgba($dark-1, .7);
				color: $white;
			}
		}
	}

	#property-details {

		.property-details-header {

			.address { font-size: 1.5rem }
			
			.price {
				color: $green-dark;
				font-size: 2rem;
				width: 30%;

				span { font-size: 1rem }
			}

			.like {
				color: #EB2525;
				font-size: 2rem;
				cursor: pointer;
				margin-left: auto;
				transition: transform 50ms linear;
				@include user-select;

				&.hightlight { transform: scale(1.2) }
			}
		}

		.property-details-info .info-box {

			h3 { font-size: 1.1rem }

			p { font-size: 1.2rem }
		}

		.property-details-amenities .feature-item {
			width: 30%;
			border-top: 1px solid #dedede;
		}
	}
}