.ct-series-a .ct-slice-donut { stroke: $green-dark }
.ct-series-b .ct-slice-donut { stroke: $dark-1 }
.ct-series-c .ct-slice-donut { stroke: $dark-2 }

.total-payment {
	line-height: 2.3rem;

	span:first-child { font-size: 2.5rem }
	span:last-child { font-size: 1.2rem }

}