#search-property {

	.search-listings-loader {
		width: 100%;
		height: 100%;

		div {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			border-style: solid;
			border-width: 20px;
			border-color: $green-dark $dark-1 $green-dark $dark-1;
			animation: rotate-loader 1s infinite linear;
		}
	}
	
	#search-map {
		height: 73vh;

		.mapboxgl-marker {
			width: 25px;
			height: 25px;

			&:hover > .marker-info,
			.marker-info:hover { display: block }

			img { cursor: pointer }
		}

		.mapboxgl-popup-content {
			cursor: auto;
			user-select: text;
		}

		.mapboxgl-ctrl-geolocate { box-shadow: none }

		.mapboxgl-user-location-dot {
			background: $green-dark;
			@include flex(column, center, center);

			&::after {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: $dark-1;
			}

			&::before { background: #FF5752 }
		}
	}

	#search-listings {
		height: 100%;
		overflow-y: auto;

		@keyframes rotate-loader {
			from { transform: rotate(0deg) }

			to { transform: rotate(180deg) }
		}

		.search-not-found img { width: 50% }
		
		.property-box {
			cursor: pointer;
			transition: opacity 100ms ease-in-out;

			&:hover, &.highlight-property { opacity: 0.8 }

			.price {
				color: $green-dark;
				font-size: 1.2rem;
			}

			img {
				width: 200px;
				height: 150px;
				box-shadow: 0 0 10px 0px $dark-2;
			}

			.features-preview {

				p {
					@include user-select;
	
					&:hover + .pop-up { display: block !important }
				}

				.pop-up {
					top: -50px;
					left: -25px;
					background: $green-light-1;
					width: 116px;
					border-radius: 10px;
					@include user-select;

					&::before {
						content: '';
						position: absolute;
						bottom: -20px;
						left: 50%;
						transform: translateX(-50%);
						border-style: solid;
						border-width: 10px 10px 10px 10px;
						border-color: $green-light-1 transparent transparent transparent;
						
					}
				}

				> div:nth-child(2) .pop-up { left: -35px }
				> div:last-child .pop-up { left: -20px }

				.pop-up:hover { display: block !important }
			}
		}
	}
}